<div id="<%= dom_id book %>">
  <p>
    <strong>Masv_115:</strong>
    <%= book.masv_205 %>
  </p>

  <p>
    <strong>Hoten_115:</strong>
    <%= book.hoten %>
  </p>

  <p>
    <strong>Lop_115:</strong>
    <%= book.lop %>
  </p>

  <p>
    <strong>Mansanh_115:</strong>
    <%= book.mansanh %>
  </p>

  <p>
    <strong>Tensach_115:</strong>
    <%= book.tensach %>
  </p>

  <p>
    <strong>Tentacgia_115:</strong>
    <%= book.tentacgia %>
  </p>

  <p>
    <strong>Sobm_115:</strong>
    <%= book.soBM %>
  </p>

  <p>
    <strong>Ngaymuon_115:</strong>
    <%= book.ngaymuon %>
  </p>

  <p>
    <strong>Ngaytra_115:</strong>
    <%= book.ngaytra %>
  </p>

  <p>
    <strong>Ghichu:</strong>
    <%= book.ghichu %>
  </p>

</div>
